In [1]:
import random

def add_move(pos,change):
    if len(pos)==0:
        raise Exception
    else:
        return tuple(pos[i]+change[i] for i in range(len(pos)))

def simulate(start,allowed_changes):
    pos=start
    visited=set()
    visited.add(start)
    count=0
    while True:
        possible=[move for change in allowed_changes if (move:=add_move(pos,change)) not in visited]
        if possible:
            pos=random.choice(possible)
            visited.add(pos)
            count+=1
        else:
            return pos,count

def runs(n,start,allowed_changes):
    distances=[]
    counts=[]
    for i in range(n):
        pos,count=simulate(start=start,allowed_changes=allowed_changes)
        distances.append(abs(pos[0]))
        counts.append(count)
    print_results(counts,distances,n)
    
def print_results(counts,distances,n):
    print(sum(counts)/n, "moves on average until trapped.")
    print(sum(distances)/n, "average Manhattan distance from start.")
    
random.seed(0)

In [2]:
# CASE 1
# For 1D, with moves up to 2 allowed

start=(0,)
allowed_changes=[(-2,),(-1,),(1,),(2,)]
runs(10000,start,allowed_changes)

19.6667 moves on average until trapped.
18.2216 average Manhattan distance from start.

In [3]:
# CASE 2
# For 1D, with moves up to 3 allowed

start=(0,)
allowed_changes=[(-3,),(-2,),(-1,),(1,),(2,),(3,)]
runs(10000,start,allowed_changes)

28.4112 moves on average until trapped.
25.0303 average Manhattan distance from start.

In [4]:
# CASE 3
# For 1D, generalization with moves up to 2,...,x allowed
        
start=(0,)
for x in range(4,10+1): #start must be >1
    allowed_changes=[tuple([i]) for i in range(1,x+1)]+[tuple([-i]) for i in range(1,x+1)]
    print(f"{x} is max length of jump allowed")
    runs(1000,start,allowed_changes)
    print()

4 is max length of jump allowed
40.415 moves on average until trapped.
35.005 average Manhattan distance from start.

5 is max length of jump allowed
52.476 moves on average until trapped.
46.15 average Manhattan distance from start.

6 is max length of jump allowed
69.02 moves on average until trapped.
61.197 average Manhattan distance from start.

7 is max length of jump allowed
86.027 moves on average until trapped.
73.761 average Manhattan distance from start.

8 is max length of jump allowed
106.327 moves on average until trapped.
95.577 average Manhattan distance from start.

9 is max length of jump allowed
125.552 moves on average until trapped.
111.271 average Manhattan distance from start.

10 is max length of jump allowed
151.006 moves on average until trapped.
134.12 average Manhattan distance from start.

Someone could make a graph to see how this scales.

In [5]:
# CASE 4
# For 2D, with moves only adjacent
        
start=(0,0)
allowed_changes=[(-1,0),(1,0),(0,-1),(0,1)]
runs(10000,start,allowed_changes)

71.8577 moves on average until trapped.
7.6538 average Manhattan distance from start.

In [6]:
# CASE 5
# For 2D, with adjacencies and diagonals
    
start=(0,0)
allowed_changes=[(-1,0),(1,0),(0,-1),(0,1),(-1,-1),(1,-1),(-1,1),(1,1)]
runs(1000,start,allowed_changes)

207.198 moves on average until trapped.
15.303 average Manhattan distance from start.

In [7]:
# CASE 6
# For 2D, with adjacencies but doubled, a rook with stride 2
    
start=(0,0)
allowed_changes=[(-1,0),(1,0),(0,-1),(0,1),(-2,0),(2,0),(0,-2),(0,2)]
runs(1000,start,allowed_changes)

596.422 moves on average until trapped.
31.672 average Manhattan distance from start.

In [8]:
# CASE 7
# For 2D, only horse moves

start=(0,0)
allowed_changes=[(-2,-1),(-2,1),(2,-1),(2,1),(1,2),(1,-2),(-1,2),(-1,-2)]
runs(100,start,allowed_changes)

3219.8 moves on average until trapped.
89.43 average Manhattan distance from start.

In [9]:
# CASE 8
# For 2D, Knight-King moves
    
start=(0,0)
allowed_changes=[(-1,0),(1,0),(0,-1),(0,1)]+[(-1,-1),(1,-1),(-1,1),(1,1)]+[(-2,-1),(-2,1),(2,-1),(2,1),(1,2),(1,-2),(-1,2),(-1,-2)]
runs(100,start,allowed_changes)

2268.79 moves on average until trapped.
62.95 average Manhattan distance from start.

In [ ]:
# CASE 9
# For 2D, king with 2 moves

start = (0, 0)
allowed_changes = (
    [(-1, 0), (1, 0), (0, -1), (0, 1)]
    + [(-1, -1), (1, -1), (-1, 1), (1, 1)]
    + [(-2, -1), (-2, 1), (2, -1), (2, 1), (1, 2), (1, -2), (-1, 2), (-1, -2)]
    + [(-2, -2), (-2, 2), (2, -2), (2, 2), (2, 0), (0, 2), (-2, 0), (0, -2)]
)
runs(100, start, allowed_changes)

9126.12 moves on average until trapped.
166.8 average Manhattan distance from start.

In [11]:
# CASE 10
# In 3D
start=(0,0,0)
allowed_changes=[(1,0,0),(-1,0,0),(0,1,0),(0,-1,0),(0,0,1),(0,0,-1)]
runs(1000,start,allowed_changes)

4042.675 moves on average until trapped.
34.216 average Manhattan distance from start.

In [12]:
# CASE 11
# In 3D, with diagonals
start=(0,0,0)
allowed_changes=[(1,0,0),(-1,0,0),(0,1,0),(0,-1,0),(0,0,1),(0,0,-1)]+[(1,1,1),(-1,1,1),(1,-1,1),(1,1,-1),(-1,-1,1),(-1,1,-1),(1,-1,-1),(-1,-1,-1)]
runs(1,start,allowed_changes)

# The problem is that it moves mostly diagonally and takes maaany moves to create a trap

66362271.0 moves on average until trapped.
4054.0 average Manhattan distance from start.

In [13]:
# CASE 12
# In 4D, just adjacencies
start=(0,0,0,0)
allowed_changes=[(1,0,0,0),(-1,0,0,0),(0,1,0,0),(0,-1,0,0),(0,0,1,0),(0,0,-1,0),(0,0,0,1),(0,0,0,-1)]
runs(1,start,allowed_changes)

6873031.0 moves on average until trapped.
1402.0 average Manhattan distance from start.